@import "../../../../sass/colors";
@import "../../../../sass/mixins";
@import "../../../../sass/helpers";
@import "../../../../sass/variables";

header,
.invoices,
.no-invoice {
  max-width: 38.4rem; // 576px
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $light-bg;
  position: relative;

  >div:first-child {
    margin-right: 6.30rem; //

    h1 {
      font-size: 1.666666rem; // 20px
      font-weight: 700;
      color: $black-2;
    }

    .invoice__count {
      color: $violet-gray;
    }
  }

  .filter {
    margin-right: 1.5rem; // 18px
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    width: 4.5rem;
    >div {
      display: flex;
      margin-right: 1rem;
    }

    >div>span {
      font-weight: 700;
    }

    div.filter-arrow-down::before {
      content: url('../../../../assets/icon-arrow-down.svg');
      transform: rotateZ(0deg);
      transition: all 200ms ease-in-out;
    }

    div.filter-arrow-up::before {
      content: url('../../../../assets/icon-arrow-down.svg');
      transform: rotateZ(180deg);
      transition: all 200ms ease-in-out;
    }
  }

  .new-invoice {
    background-color: $violet-1;
    /* width: 7.5rem; //90px
    height: 3.666666rem; // 44px */
    border-radius: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.166666rem 0.5rem 0.5rem;
    cursor: pointer;

    &:hover {
      background-color: $violet-2;
    }

    .new-invoice__icon-plus {
      width: 2.666666rem; // 32px
      height: 2.666666rem;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #FFF;
      margin-right: 0.666666rem;
    }

    .new-invoice__text>span:first-child {
      color: #FFF;
      font-weight: 700;
    }

    .new-invoice__text>.show-flex {
      display: none;
    }
  }
}

.invoices {
  padding-top: 2.75rem; // 33px
  background-color: $light-bg;
}

.no-invoice {
  padding-top: 8.5rem; // 102px
  width: 19.5rem; // 234px
  margin: 0 auto;

  img {
    margin-bottom: 3.333333rem;
  }

  &__text {
    text-align: center;

    h1 {
      margin-bottom: 2rem;
      font-size: 1.666666rem;
      font-weight: 700;
    }

    p {
      color: $violet-gray;
    }
  }
}

@media screen and (min-width: $tablet-min) {

  header,
  .invoices,
  .no-invoice {
    max-width: 66.133333rem; // 992px
  }

  header {

    div:first-child {
      margin-right: 16rem; //

      h1 {
        font-size: 2.666666rem; // 20px
        margin-bottom: 0.666666rem;
      }

      .invoice__count {
        color: $violet-gray;
      }
    }

    .filter {
      margin-right: 0;
      display: flex;
      align-items: center;
      width: unset;
      >div {
        display: flex;
        margin-right: 1.333333rem;
      }

      >div>span {
        font-weight: 700;
      }

      >div>span:first-child::after {
        content: "-";
        visibility: hidden;
      }
    }

    .new-invoice {
      background-color: $violet-1;
      width: 12.5rem; // 150px
      height: 4rem; // 44px
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.666666rem 1.25rem 0.666666rem 0.666666rem;

      .new-invoice__icon-plus {
        width: 2.666666rem; // 32px
        height: 2.666666rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFF;
      }

      .new-invoice__text>span:first-child,
      .new-invoice__text>.show-flex {
        color: #FFF;
        font-weight: 700;
      }

      .new-invoice__text>.show-flex {
        display: unset;
      }
    }
  }

  .invoices {
    padding-top: 4.666666rem; // 56px
  }

  .no-invoice {
    padding-top: 5rem; // 210px
    width: 20.166666rem; // 242px
    margin: 0 auto;

    img {
      margin-bottom: 5.416666rem;
    }

    &__text {
      text-align: center;

      h1 {
        margin-bottom: 2rem;
        font-size: 1.666666rem;
        font-weight: 700;
      }

      p {
        color: $violet-gray;
      }
    }
  }

}

@media screen and (min-width: $desktop-min) {

  header,
  .invoices,
  .no-invoice {
    max-width: 85.333333rem; // 1280px
  }

  header {
    div:first-child {
      margin-right: 21rem; //

      h1 {
        font-size: 2.666666rem; // 20px
      }

      .invoice__count {
        color: $violet-gray;
      }
    }

    .filter {
      margin-right: 3.333333rem;
      display: flex;
      align-items: center;

      >div {
        display: flex;
        margin-right: 1.333333rem;
      }

      >div>span {
        font-weight: 700;
      }

      >div>span:first-child::after {
        content: "-";
        visibility: hidden;
      }
    }

    .new-invoice {
      background-color: $violet-1;
      width: 12.5rem; // 150px
      height: 4rem; // 44px
      border-radius: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0.666666rem 1.25rem 0.666666rem 0.666666rem;

      .new-invoice__icon-plus {
        width: 2.666666rem; // 32px
        height: 2.666666rem;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #FFF;
      }

      .new-invoice__text>span:first-child,
      .new-invoice__text>.show-flex {
        color: #FFF;
        font-weight: 700;
      }

      .new-invoice__text>.show-flex {
        display: unset;
      }
    }
  }

  .invoices {
    padding-top: 5.416666rem; // 65px
  }

  .no-invoice {
    padding-top: 11.75rem; // 141px
    width: 20.166666rem; // 242px

    img {
      margin-bottom: 5.333333rem;
    }

    &__text {
      text-align: center;

      h1 {
        margin-bottom: 2rem;
        font-size: 1.666666rem;
        font-weight: 700;
      }

      p {
        color: $violet-gray;
      }
    }
  }
}
