<div class="filter" *ngIf="showFilter">
  <div class="status">
    <input type="checkbox" (click)="onFilter('draft')" name="draft" id="draft" [checked]="draft">
    <label for="draft">Draft</label>
  </div>
  <div class="status">
    <input type="checkbox" (click)="onFilter('pending')" name="pending" id="pending" [checked]="pending">
    <label for="pending">Pending</label>
  </div>
  <div class="status">
    <input type="checkbox" (click)="onFilter('paid')" name="paid" id="paid" [checked]="paid">
    <label for="paid">Paid</label>
  </div>
</div>
