* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Spartan', sans-serif;
}

html {
    height: 100%;
    font-size: 12px;
}

body {
    background-color: $light-bg;
    height: 100%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

input[type="button"],
input[type="submit"],
a, button {
    cursor: pointer;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
}