// Responsive

@mixin breakpoint-up($min, $max) {
  @media screen and (min-width: $min) and (max-width: $max) {
      @content;
  }
}

@mixin breakpoint-down($max, $min) {
  @media screen and (max-width: $max) and (min-width: $min) {
      @content;
  }
}


// Form Elements
@mixin input-group-title {
  font-weight: 700;
  color: $violet-1;
  margin-bottom: 2.333rem;
}

@mixin label-for-mobile {
  color: $blue-violet;
  font-weight: 500;
}

@mixin input-for-mobile {
  border: 1px solid $blue-gray-light;
  padding: 1.666666rem;
  font-weight: 700;
  height: 4rem;
  border-radius: 4px;
  font-size: 1rem;
}

// Form Elements

// Button
@mixin button-for-mobile {
  font-weight: 700;
  font-family: "Spartan", sans-serif;
  padding: 1.416666rem 1.333333rem;
  font-size: 0.9rem;
  border: none;
  border-radius: 2rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
}

@mixin button-for-tablet {
  @include button-for-mobile;
  padding: 1.416666rem 2rem;
  font-size: 0.9rem;
}

// Button

// Select

@mixin selectInput {
  padding: 1.666666rem;
  font-weight: 700;
  // A reset of styles, including removing the default dropdown arrow
  appearance: none;
  // Additional resets for further consistency
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
  outline: none;
  background-color: #fff;
  height: 3.5rem;
}

@mixin selectWrapper {
  position: relative;
  border: 1px solid $blue-gray-light;
  border-radius: 4px;
  padding: 0 1.45rem;
  height: 4rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: #FFF;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

@mixin dateInput {
  margin: 0;
  width: 100%;
  border: none;
  outline: none;
  height: 3.5rem;
  cursor: inherit;
  font-weight: 700;
  appearance: none;
  font-size: inherit;
  padding: 0 1em 0 0;
  line-height: inherit;
  font-family: inherit;
  padding: 1.666666rem;
}

@mixin dateWrapper {
  height: 4rem;
  display: flex;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.1;
  position: relative;
  border-radius: 4px;
  padding: 0 1.45rem;
  align-items: center;
  background-color: #FFF;
  border: 1px solid $blue-gray-light;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
