@import "../../../../../../sass/variables";
@import "../../../../../../sass/colors";

.invoice {
  display: grid;
  padding: 2rem;
  background-color: #fff;
  border-radius: 0.666666rem;
  margin: 0 auto 1.333333rem auto;
  grid-template-rows: auto auto auto;
  grid-template-columns: auto 8.666666rem;
  box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);
  grid-template-areas: "invoiceCode clientName"
    "dueDate     status"
    "total       status";

  &:hover {
    border: 1px solid $violet-1;
  }

  .invoice-code {
    cursor: pointer;
  }

  .invoice-code:hover {
    cursor: pointer;
    color: #9277FF;
  }

  .invoice-code,
  .total {
    font-weight: 700;
    color: black;
  }

  .client-name,
  .due-date,
  .hashtag {
    color: #858BB2;
  }

  .invoice-code {
    grid-area: invoiceCode;
    margin-bottom: 2rem;
  }

  .due-date {
    grid-area: dueDate;
    margin-bottom: 0.666666rem;
  }

  .client-name {
    grid-area: clientName;
    margin-bottom: 2.25rem;
    text-align: end;
  }

  .total {
    grid-area: total;
    font-size: 1.333333rem;
  }

  .status {
    grid-area: status;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.0833333rem 1.416666rem 1.025rem 1.5rem;
    border-radius: 0.5rem;
    text-align: center;
  }

  .status .status__bullet-point {
    display: inline-block;
    width: 0.666666rem;
    height: 0.666666rem;
    border-radius: 100%;
    margin-right: 0.666666rem;
  }

  .status .status__text {
    font-weight: 700;
  }

}

@media screen and (min-width: $tablet-min) {
  .invoice {
    padding: 1.333333rem 2rem;
    height: 6rem;
    display: flex;
    align-items: center;
    margin: 0 auto 1.333333rem auto;
    width: 56rem;
    .invoice-code {
      grid-area: unset;
      margin-bottom: unset;
      width: 7.25rem; // 87px
    }

    .due-date {
      grid-area: unset;
      margin-bottom: unset;
      width: 11.916666rem;
    }

    .client-name {
      grid-area: unset;
      margin-bottom: unset;
      text-align: left;
      width: 9.416666rem;
    }

    .total {
      grid-area: unset;
      text-align: right;
      width: 9.416666rem;
      margin-right: 3.333333rem;
    }

    .status {
      grid-area: unset;
      padding: 1.0833333rem 1.416666rem 1.025rem 1.5rem;
      width: 8.666666rem;
    }

    .arrow {
      grid-area: unset;
      cursor: pointer;
      margin-left: 1.666666rem;
    }

  }
}

@media screen and (min-width: $desktop-min) {
  .invoice {
    padding: 1.333333rem 2.666666rem;
    height: 6rem;
    grid-template-columns: auto auto auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: "invoiceCode dueDate clientName total status arrow";
    display: flex;
    width: 60.833333rem;
    margin: 0 auto 1.333333rem auto;

    .invoice-code {
      width: 8.583333rem;
    }

    .due-date {
      width: 12.583333rem;
    }

    .client-name,
    .total {
      width: 10.5rem;
    }

    .status {
      padding: 1.0833333rem 1.416666rem 1.025rem 1.5rem;
    }

    .arrow {
      cursor: pointer;
    }

  }
}
