@import "../../../../../../sass/colors";
@import "../../../../../../sass/variables";

.delete-prompt {
  position: fixed;
  width: 27.25rem;
  z-index: 5;
  left: 50%;
  transform: translateX(-50%);
  top: 33%;
  padding: 2.666666rem;
  border-radius: 0.666666rem;
  transition: all 250ms ease-in-out;
  h1 {
    font-size: 1.666666rem;
    font-weight: 700;
    line-height: 24px;
    margin-bottom: 0.666666rem;
  }

  p {
    font-weight: 500;
    line-height: 22px;
    color: $blue-violet;
    letter-spacing: -0.25px;
    margin-bottom: 2rem;
  }

  .prompt__cta {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .prompt__cta>.cancel,
  .prompt__cta>.delete {
    padding: 1.416666rem 2rem;
    font-weight: 700;
    line-height: 15px;
    border-radius: 2rem;
    border: none;
  }

  .prompt__cta>.cancel {
    margin-right: 0.666666rem;
  }
}

.light-theme {
  background-color: #fff;
  p {
    color: $blue-violet;
  }

  .prompt__cta>.cancel {
    color: $blue-violet;
    background-color: #F9FAFE;
  }

  .prompt__cta>.delete {
    color: #FFF;
    background-color: $red;
  }

  .prompt__cta>.cancel:hover {
    background-color: $blue-gray-light;
  }

  .prompt__cta>.delete:hover {
    background-color: $red-blurred;
  }
}

.dark-theme {
  background-color: $black-1;

  h1 {
    color: #FFF;
  }

  p {
    color: $violet-gray;
  }

  .prompt__cta>.cancel {
    color: $blue-gray-light;
    background-color: $dark-blue;
  }

  .prompt__cta>.delete {
    color: #FFF;
    background-color: $red;
  }
}

@media screen and (min-width: $tablet-min) {
  .delete-prompt {
    width: 33rem;
    width: 40rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #fff;
    top: 30%;
    padding: 4rem;

    h1 {
      font-size: 2rem;
      line-height: 32px;
    }

    .prompt__cta>.cancel,
    .prompt__cta>.delete {
      padding: 1.416666rem 2rem;
    }
  }

}

@media screen and (min-width: $desktop-min) {}
