@import "../../../../../../sass/variables";
@import "../../../../../../sass/colors";

.invoice__body {
  padding: 1.6rem;
  border-radius: 0.666666rem;
  transition: all 250ms ease-in-out;

  .top-part {
    margin-bottom: 3.333333rem;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(5, auto);
    grid-template-areas:
      "identity identity"
      "from     from"
      "date     bill-to"
      "due     bill-to"
      "send-to  send-to";

    .invoice-identity {
      grid-area: identity;
      margin-bottom: 2.5rem;

      .hashtag {
        font-weight: 700;
      }

      &>p:first-child {
        font-weight: 700;
        margin-bottom: 0.333333rem;
      }

      &>p:nth-child(2) {
        font-weight: 500;
      }
    }

    .invoice-from {
      grid-area: from;
      margin-bottom: 2.583333rem;

      >p {
        font-weight: 500;
        font-size: 0.916666rem;
      }

      >p:not(:last-child) {
        margin-bottom: 0.583333rem;
      }
    }

    .invoice-date {
      grid-area: date;
      display: flex;
      flex-direction: column;

      >span:first-child {
        font-weight: 500;
        margin-bottom: 1rem;
      }

      >span:last-child {
        font-weight: 700;
        font-size: 1.25rem;
      }
    }

    .invoice-bill-to {
      grid-area: bill-to;
      margin-bottom: 2.666666rem;
      padding-left: 3.416666rem;

      >span,
      p:not(.name) {
        font-weight: 500;
      }

      >p:not(.name) {
        font-size: 0.916666rem;
      }

      >span {
        display: inline-block;
        margin-bottom: 1rem;
      }

      p.name {
        margin-bottom: 0.666666rem;
      }

      p.street,
      p.city,
      p.post-code {
        margin-bottom: 10px;
      }

      >p.name {
        font-weight: 700;
        font-size: 1.25rem;
      }
    }

    .invoice-due {
      grid-area: due;
      padding-bottom: 1.7rem;

      >span {
        font-weight: 500;
        display: inline-block;
        margin-bottom: 1rem;
      }

      >p {
        font-weight: 700;
        font-size: 1.25rem;
      }
    }

    .send-to {
      grid-area: send-to;

      >span {
        display: inline-block;
        font-weight: 500;
        margin-bottom: 1rem;
      }

      >p {
        font-weight: 700;
        font-size: 1.25rem;
      }
    }
  }

  .items {
    padding: 2rem;

    .item {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 2rem;

      &>div {
        display: flex;
        flex-direction: column;
      }

      &>div>.name {
        font-weight: 700;
        margin-bottom: 0.666666rem;
      }

      &>div>.qty-price {
        font-weight: 700;
      }

      &>div>.total {
        font-weight: 700;
      }

      &>span {
        font-weight: 700;
      }
    }
  }

  .footer {
    padding: 2rem;
    border-radius: 0px 0px 8px 8px;

    &>div {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &>div>span:first-child {
      font-size: 0.916666rem;
      font-weight: 500;
    }

    &>div>span:last-child {
      font-size: 1.666666rem;
      font-weight: 700;
    }
  }
}

.light-theme {
  background-color: #fff;

  .top-part {

    .invoice-identity {

      .hashtag {
        color: $blue-violet;
      }

      &>p:first-child {
        color: $black-2;
      }

      &>p:nth-child(2) {
        color: $blue-violet;
      }
    }

    .invoice-from {

      >p {
        color: $blue-violet;
      }
    }

    .invoice-date {

      >span:first-child {
        color: $blue-violet;
      }
    }

    .invoice-bill-to {

      >span,
      p:not(.name) {
        color: $blue-violet;
      }

      >p.name {
        color: $black-2;
      }
    }

    .invoice-due {

      >span {
        color: $blue-violet;
      }

      >p {
        color: $black-2;
      }
    }

    .send-to {

      >span {
        color: $blue-violet;
      }

      >p {
        color: $black-2;
      }
    }
  }

  .items {
    background-color: #F9FAFE;

    .item {

      &>div>.name {
        color: $black-2;
      }

      &>div>.qty-price {
        color: $blue-violet;
      }

      &>div>.total {
        color: $black-2;
      }

      &>span {
        color: $black-2;
      }
    }
  }

  .footer {
    background-color: #373B53;

    &>div>span {
      color: #FFF;
    }
  }
}

.dark-theme {
  background-color: $black-1;

  .top-part {

    .invoice-identity {

      .hashtag {
        color: $red;
      }

      &>p:first-child {
        color: #FFF;
      }

      &>p:nth-child(2) {
        color: $blue-gray-light;
      }
    }

    .invoice-from {

      >p {
        color: $blue-gray-light;
      }
    }

    .invoice-date {

      >span:first-child {
        color: $blue-gray-light;
      }

      >span:last-child {
        color: #FFF;
      }
    }

    .invoice-bill-to {

      >span,
      p:not(.name) {
        color: $blue-gray-light;
      }

      >p.name {
        color: #FFF;
      }
    }

    .invoice-due {

      >span {
        color: $blue-gray-light;
      }

      >p {
        color: #FFF;
      }
    }

    .send-to {

      >span {
        color: $blue-gray-light;
      }

      >p {
        color: #FFF;
      }
    }
  }

  .items {
    background-color: $dark-blue;

    .head>span {
      color: $blue-gray-light;
    }

    .item {

      &>div>.name,
      &>div>.qty,
      &>div>.price {
        color: #FFF;
      }

      &>div>.qty-price {
        color: $violet-gray;
      }

      &>div>.total {
        color: #FFF;
      }

      &>span {
        color: #FFF;
        font-weight: 700;
      }
    }
  }

  .footer {
    background-color: $black-2;

    &>div>span {
      color: #FFF;
    }
  }
}

@media screen and (min-width: $tablet-min) {
  .invoice__body {
    padding: 2.666666rem;
    margin-bottom: 4rem;

    .top-part {
      margin-bottom: 4rem;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: repeat(3, auto);
      grid-template-areas:
        "identity .        from"
        "date     bill-to  send-to"
        "due      bill-to  send-to";

      .invoice-identity {
        grid-area: identity;
        margin-bottom: 1.75rem;

        .hashtag,
        &>p:first-child {
          font-size: 1.333333rem;
        }

        &>p:first-child {
          margin-bottom: 0.666666rem;
        }
      }

      .invoice-from {
        grid-area: from;
        margin-bottom: 1.75rem;
        text-align: end;
      }

      .invoice-date {
        grid-area: date;

        >span:first-child {
          margin-bottom: 1rem;
        }

        >span:last-child {
          font-weight: 700;
          font-size: 1.25rem;
        }
      }

      .invoice-bill-to {
        grid-area: bill-to;
        margin-bottom: unset;
        padding-left: unset;

        >span,
        p:not(.name) {
          font-weight: 500;
        }

        >p:not(.name) {
          font-size: 0.916666rem;
        }

        >span {
          display: inline-block;
          margin-bottom: 1rem;
        }

        p.name {
          margin-bottom: 0.666666rem;
        }

        >p.name {
          font-weight: 700;
          font-size: 1.25rem;
        }
      }

      .invoice-due {
        grid-area: due;
        padding-top: 2rem;
        padding-bottom: unset;

        >span {
          font-weight: 500;
          display: inline-block;
          margin-bottom: 1rem;
        }

        >p {
          font-weight: 700;
          font-size: 1.25rem;
        }
      }

      .send-to {
        grid-area: send-to;

        >span {
          display: inline-block;
          font-weight: 500;
          margin-bottom: 1rem;
        }

        >p {
          font-weight: 700;
          font-size: 1.25rem;
        }
      }
    }

    .items {

      .head {
        margin-bottom: 2.666666rem;
        display: grid;
        grid-template-columns: minmax(23rem, auto) 2.916666rem minmax(9.83rem, auto) minmax(11.416rem, auto);
        grid-template-rows: 1fr;
        grid-template-areas:
          "h-item-name h-qty h-price h-total";

        span {
          font-weight: 500;
          font-size: 0.916666rem;
          display: inline-block;
        }

        span:first-child {
          grid-area: h-item-name;
        }

        span:nth-child(2) {
          grid-area: h-qty;
        }

        span:nth-child(3) {
          grid-area: h-price;
          text-align: right;
        }

        span:nth-child(4) {
          grid-area: h-total;
          text-align: right;
        }
      }

      .item {
        display: unset;

        &>div {
          margin-bottom: 2.666666rem;
          display: grid;
          grid-template-columns: minmax(23rem, auto) 2.916666rem minmax(9.83rem, auto) minmax(11.416rem, auto);
          grid-template-rows: 1fr;
          grid-template-areas:
            "item-name qty price total";
        }

        &>div>span {
          display: inline-block;
          margin-bottom: unset;
        }

        &>div>.name {
          grid-area: item-name;
        }

        &>div>.qty,
        &>div>.price {
          font-weight: 700;
        }

        /*  */
        &>div>.qty {
          grid-area: qty;
          text-align: center;
        }

        &>div>.price {
          grid-area: price;
          text-align: right;
        }

        &>div>.total {
          grid-area: total;
          text-align: right;
        }
      }
    }
  }
}
