<section id="sign-up">
  <p>
    <a [routerLink]="['/home']">Retourner à la page d'inscription</a>
  </p>
  <h1>Sign Up</h1>
  <section class="sign-up__form">
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">
      <!-- Identity -->
      <div class="input-group identity">
        <p class="input-group__title">Identity</p>
        <div class="input-group__fields">
          <div class="fields__field">
            <label for="firstname">Firstname</label>
            <input
              [ngStyle]="wrongInput('firstName')"
              type="text"
              id="firstname"
              formControlName="firstName">
              <small
                [hidden]="signUpForm.get('firstName')?.valid ||
                signUpForm.get('firstName')?.untouched">Please verifie your input!</small>
          </div>
          <div class="fields__field">
            <label for="lastname">Lastname</label>
            <input
              [ngStyle]="wrongInput('lastName')"
              type="text"
              id="lastname"
              formControlName="lastName">
            <small
            [hidden]="signUpForm.get('lastName')?.valid ||
            signUpForm.get('lastName')?.untouched">Please verifie your input!</small>
          </div>
          <div class="fields__field">
            <label for="profileImage">Profile Image</label>
            <div>
                <input type="text" id="image-name" formControlName="profileImage">
                <button (click)="profileImage.click()" type="button">
                  <i class="fas fa-file-upload"></i>
                </button>
            </div>
            <small [hidden]="isProfileImageIsValid || (!isImageAdded && !isProfileImageIsValid)">The size or the type of your image is invalid (jpg, jpeg and png and 1 Mo max)</small>
            <input type="file" (change)="onFileChange($event)" name="profileImage" id="profileImage"  #profileImage hidden>
          </div>
        </div>
      </div>

      <!-- Contact -->
      <div class="input-group contact">
        <p class="input-group__title">Contact</p>
        <div class="input-group__fields">
          <div class="fields__field">
            <label for="email">Email</label>
            <input
              [ngStyle]="wrongInput('email')"
              type="email"
              id="email"
              formControlName="email">
            <small
            [hidden]="signUpForm.get('email')?.valid ||
            signUpForm.get('email')?.untouched">Please verifie your email!</small>
          </div>
          <div class="fields__field">
            <label for="phoneNumber">Phone Number</label>
            <input
              [ngStyle]="wrongInput('phoneNumber')"
              type="text"
              id="phoneNumber"
              formControlName="phoneNumber">
            <small
                [hidden]="signUpForm.get('phoneNumber')?.valid ||
                signUpForm.get('phoneNumber')?.untouched">A wrong phone number was entered!</small>
          </div>
        </div>
      </div>

      <!-- Address -->
      <div class="input-group address">
        <p class="input-group__title">Address</p>
        <div class="input-group__fields">
          <div class="fields__field street-field">
            <label for="street">Street</label>
            <input
              [ngStyle]="wrongInput('street')"
              type="text"
              id="street"
              formControlName="street">
            <small
            [hidden]="signUpForm.get('street')?.valid ||
            signUpForm.get('street')?.untouched">Please verifie your address!</small>
          </div>
          <div class="fields__field city-field">
            <label for="city">City</label>
            <input
              [ngStyle]="wrongInput('city')"
              type="text"
              id="city"
              formControlName="city">
            <small
                [hidden]="signUpForm.get('city')?.valid ||
                signUpForm.get('city')?.untouched">Please verifie your city!</small>
          </div>
          <div class="fields__field postCode-field">
            <label for="postCode">Post Code</label>
            <input
              [ngStyle]="wrongInput('postCode')"
              type="text"
              id="postCode"
              formControlName="postCode">
            <small
                [hidden]="signUpForm.get('postCode')?.valid ||
                signUpForm.get('postCode')?.untouched">Please verifie your post code!</small>
          </div>
          <div class="fields__field country-field">
            <label for="country">Country</label>
            <input
              [ngStyle]="wrongInput('country')"
              type="text"
              id="country"
              formControlName="country">
            <small
                [hidden]="signUpForm.get('country')?.valid ||
                signUpForm.get('country')?.untouched">Please verifie your country</small>
          </div>
        </div>
      </div>

      <!-- Credentials -->
      <div class="input-group credentials">
        <p class="input-group__title">Credentials</p>
        <div class="input-group__fields">
          <div class="fields__field">
            <label for="password">Password</label>
            <input
              [ngStyle]="wrongInput('password')"
              type="password"
              id="password"
              formControlName="password">
            <small
                [hidden]="signUpForm.get('password')?.valid ||
                signUpForm.get('password')?.untouched">Veuillez entrer un mot de passe avec 8 caracteres dont une majuscule et un chiffre!</small>
          </div>
          <div class="fields__field">
            <label for="confirmedPassword">Confirmed password</label>
            <input
              [ngStyle]="wrongInput('confirmedPassword')"
              type="password"
              id="confirmedPassword"
              formControlName="confirmedPassword">
            <small
            [hidden]="verifyPassword()">Les deux mots de passe ne sont pas identiques!</small>
          </div>
        </div>
      </div>

      <!-- CTA -->
      <div class="form-cta">
        <button class="clear-form" type="button" (click)="clearForm()">Clear Formulaire</button>
        <button class="save" type="submit" [disabled]="signUpForm.invalid && hasError">Save</button>
      </div>
    </form>
  </section>
</section>

<!--
     {
    "id": "FV2353",
    "createdAt": "2021-11-05",
    "paymentDue": "2021-11-12",
    "description": "Logo Re-design",
    "paymentTerms": 7,
    "clientName": "Anita Wainwright",
    "clientEmail": "",
    "status": "draft",
    "senderAddress": {
      "street": "19 Union Terrace",
      "city": "London",
      "postCode": "E1 3EZ",
      "country": "United Kingdom"
    },
    "clientAddress": {
      "street": "",
      "city": "",
      "postCode": "",
      "country": ""
    },
 -->
