<section id="login-page"> 
    <div class="login-form-container">
        <div class="logo">
            <img src="../../../../assets/logo.svg" alt="" srcset="">
        </div>
        <div class="welcome">
            <p>Welcome to your invoice App</p>
            <p>Please enter your credentials to access your account</p>
        </div>
        <form>
            <div>
                <input type="email" id="email">
            </div>
            <div>
                <input type="password" id="password">
            </div>
            <button>Connexion</button>
        </form>
        <p class="to-sign-up">
            <a [routerLink]="['/sign-up']">Créer un compte ?</a>
        </p>
    </div>
</section>