@import "../sass/mixins";
@import "../sass/helpers";
@import "../sass/variables";

#invoice-app {
  display: flex;
  flex-direction: column;
  height: 100%;


  .main-container {
    flex: 1;
    padding-top: 2.666666rem;
    padding-left: 2rem;
    padding-right: 2rem;
    position: relative;

    div.formBackdrop {
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100vh;
      z-index: 2;
      background-color: rgba($color: (#000), $alpha: 0.5);
    }
  }
}

@media screen and (min-width: $tablet-down) {
  #invoice-app {

    .main-container {
      padding-top: 4.666666rem;
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }
}

@media screen and (min-width: $desktop) {
  #invoice-app {
    flex-direction: row;

    .main-container {
      padding-top: 6rem;
      padding-left: 29.583333rem;
      padding-right: 29.583333rem;

      div.formBackdrop {
        padding-left: 8.583333rem;
      }
    }
  }
}
