<div id="invoice-app">
  <div class="global-backdrop" (click)="closeModals()" *ngIf="isConnected && deletePromptDisplay" @formBackDropState></div>
  <app-delete-prompt
  [invoiceCode]="currentInvoice!.invoiceCode"
  *ngIf="deletePromptDisplay"
  (confirmInvoiceDeletion)="onConfirmDeletion($event)"><!-- deletePromptDisplay -->
</app-delete-prompt>

  <div *ngIf="isConnected" class="header">
    <app-header></app-header>
  </div>

  <div class="main-container" [ngClass]="{'hide-overflow': globalBackdrop} ">
    <!-- <div *ngIf="true" class="global-loading"> -->
    <div *ngIf="isLoading && isConnected" class="global-loading">
      <app-loading-stripe ></app-loading-stripe>
    </div>
    <div class="main-backdrop" (click)="closeModals()" *ngIf="isConnected && displayStatus" @formBackDropState></div>
    <app-invoice-form
      *ngIf="displayStatus">
    </app-invoice-form>
    <router-outlet></router-outlet>
  </div>
</div>
