<div id="invoice-app">
  <div *ngIf="isConnected" class="header">
    <app-header></app-header>
  </div>
  <div class="main-container">
    <div *ngIf="isLoading && isConnected" class="global-loading">
      <app-loading-stripe ></app-loading-stripe>
    </div>
    <div class="formBackdrop" (click)="closeInvoiceForm()" *ngIf="isConnected && displayStatus" @formBackDropState></div> <!-- Revoir formBackdrop provoque débordement -->
    <app-invoice-form  *ngIf="displayStatus"></app-invoice-form>
    <router-outlet></router-outlet> <!-- login, ect -->
  </div>
</div>
