@import '../../../../sass/colors';
@import '../../../../sass/font-size';
@import '../../../../sass/variables';
@import '../../../../sass/global';
@import '../../../../sass/mixins';

section#invoice-form {
  padding-top: 2.666rem;
  background-color: #FFF;
  position: absolute;
  width: 100%;
  z-index: 5;
  left: 0;
  top: 0;
  /* transform: translateX(0px);
  transition: transform ease-in 350; */

  &>p {
    margin-bottom: 2.75rem;
    font-weight: 700;
    padding: 0 1.83rem;

    &::before {
      content: url("../../../../assets/icon-arrow-left.svg");
      margin-right: 2rem;
    }
  }

  &>p>a:hover {
    color: $violet-2;
  }

  h1 {
    font-size: 2rem;
    margin-bottom: 2.75rem;
    padding: 0 1.83rem;
  }

  h1 .hashtag {
    color: $violet-gray;
  }

  small {
    color: $red;
    font-weight: 700;
  }

  .errors-container>small {
    display: block;
  }

  .input-group {
    padding: 0 1.83rem;

    &__title {
      @include input-group-title;
    }

    &__fields {

      .fields__field {
        display: flex;
        flex-direction: column;
        position: relative;

        label {
          @include label-for-mobile;
          margin-bottom: 1.333rem;
        }

        input {
          @include input-for-mobile;
          margin-bottom: 2rem;
        }

        .select-wrapper {
          @include selectWrapper;

          select {
            @include selectInput;
          }

          select::-ms-expand {
            display: none;
          }
        }

        .select-wrapper:hover {
          border: 1px solid $violet-1;
        }

        .date-wrapper {
          position: relative;

          @include dateWrapper;

          input[type='date'] {
            @include dateInput;
          }

          .date::-ms-expand {
            display: none;
          }
        }

        .date-wrapper::after {
          position: absolute;
          content: url("../../../../assets/icon-calendar.svg");
          right: 1.45rem;
        }

        small {
          margin-bottom: 1.5rem;
          position: absolute;
          top: 0;
          right: 0;
        }
      }
    }
  }

  .from>.input-group__fields {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    column-gap: 2rem;
    grid-template-areas:
      "street   street"
      "city     postCode"
      "country  country";

    .street-field {
      grid-area: street;
    }

    .city-field {
      grid-area: city;
    }

    .postCode-field {
      grid-area: postCode;
    }

    .country-field {
      grid-area: country;
    }
  }

  .to>.input-group__fields {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: repeat(1fr, 8);
    column-gap: 2rem;
    grid-template-areas:
      "name         name"
      "email        email"
      "street       street"
      "city         postCode"
      "country      country"
      "date         date"
      "terms         terms"
      "description  description";

    .client-name-field {
      grid-area: name;
    }

    .client-email-field {
      grid-area: email;
    }

    .client-str-field {
      grid-area: street;
    }

    .client-city-field {
      grid-area: city;
    }

    .client-pstC-field {
      grid-area: postCode;
    }

    .client-ctry-field {
      grid-area: country;
    }

    .date {
      grid-area: date;
      margin-bottom: 2rem;
    }

    .terms {
      grid-area: terms;
      margin-bottom: 2rem;
    }

    .description {
      grid-area: description;
      margin-bottom: 2rem; // si aucun formValidation n'est t'ajouter sinon a margin a retirer
    }
  }

  .item-fields {
    padding: 0 1.83rem;

    h2.item-fields__title {
      font-size: 1.5rem;
      font-weight: 700;
      color: #777F98;
      margin-bottom: 2rem;
    }

    .rows {
      display: flex;
      flex-direction: column;
    }

    .row.item-name {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;

      label {
        @include label-for-mobile;
        margin-bottom: 1.333333rem;
      }

      input {
        @include input-for-mobile;
        margin-bottom: unset;
      }

      input:focus {
        border: 1px solid $violet-2;
      }

      small {
        margin-bottom: unset;
        color: $red;
        font-weight: 700;
      }
    }

    .row.item-data {
      display: flex;
      align-items: last baseline;
      position: relative;

      .row__field {
        width: min-content;
        margin-bottom: 4rem;
      }

      .row__field>label {
        @include label-for-mobile;
        margin-bottom: 1.333333rem;
      }

      .row__field>input {
        @include input-for-mobile;
        margin: 0.833333rem 1.333333rem 0 0;
      }

      .row__field>small {
        color: $red;
        font-weight: 700;
      }

      .row__field.quantity>input {
        /* width: 5.333333rem; */
        width: 16.189vw;
      }

      .row__field.price>input,
      .row__field.total>input {
        /* width: 8.333333rem; */
        width: 25.299vw;
      }

      .row__field.price>input {
        margin-right: 1.333333rem;
      }

      .row__field.total>input {
        border: none;
        background-color: transparent;
        padding-left: unset;
        color: $violet-gray;
        pointer-events: none;
      }

      >button {
        flex: 1;
        border: none;
        display: flex;
        align-items: flex-start;
        justify-content: flex-end;
        background-color: transparent;
        /* height: fit-content;
        border: none;
        position: absolute;
        top: 37%;
        right: 0;
        cursor: pointer; */
      }

      >button path:hover {
        fill: $red;
      }
    }
  }

  .item-cta {
    text-align: center;
    padding: 1.333333rem 0;
    margin: 0 2rem 7.333333rem 2rem;
    border: 1px solid transparent;
    border-radius: 2rem;
    font-weight: 700;
    background-color: $light-bg-2;

    .new-item-btn {
      border: none;
      color: $blue-violet;
      font-size: 1rem;
      background-color: transparent;
    }
  }

  .item-cta:hover {
    background-color: $blue-gray-light;
  }

  .errors-container {
    margin-bottom: 2.916666rem;
    padding: 0 2rem;
  }

  .form-cta {
    display: flex;
    justify-content: flex-end;
    padding: 1.833333rem 2rem;
    background-color: #fff;
    border-radius: 0px 0px 20px 0px;
    box-shadow: 0px 0px 80px 30px rgba(0, 0, 0, .1);

    button {
      @include button-for-mobile;
    }

    .save {
      background-color: $violet-1;
      color: #fff;
      margin-left: 0.66rem;
    }

    .save:hover {
      background-color: $violet-2;
    }

    .btn-draft {
      background-color: #373B53;
      color: $violet-gray;
      margin-left: 0.66rem;
    }

    .btn-draft:hover {
      background-color: $black-2;
    }

    .discard {
      color: $violet-1;
      background-color: #F9FAFE;
    }

    .discard:hover {
      background-color: $blue-gray-light;
    }
  }
}

@media screen and (min-width: $tablet-min) {
  section#invoice-form {
    padding-top: 4.666666rem;
    width: 51.333333rem;
    height: 100%;
    overflow-y: scroll;
    border-radius: 0px 20px 20px 0px;

    &>p {
      display: none;
    }

    h1 {
      padding: 0 4.666666rem;
      margin-bottom: 4rem;
    }

    .input-group {
      padding: 0 4.666666rem;

      &__fields {

        input {
          margin-bottom: 0.5rem;
        }
      }
    }

    .from>.input-group__fields {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: 1fr 1fr;
      column-gap: 2rem;
      grid-template-areas:
        "street   street   street"
        "city     postCode country";

      .street-field {
        grid-area: street;
      }

      .city-field {
        grid-area: city;
      }

      .postCode-field {
        grid-area: postCode;
      }

      .country-field {
        grid-area: country;
      }
    }

    .to>.input-group__fields {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: repeat(6, 1fr);
      column-gap: 2rem;
      grid-template-areas:
        "name         name        name        name        name        name"
        "email        email       email       email       email       email"
        "street       street      street      street      street      street"
        "city         city        postCode    postCode    country     country"
        "date         date        date        terms        terms        terms"
        "description  description description description description description";

      .client-name-field {
        grid-area: name;
      }

      .client-email-field {
        grid-area: email;
      }

      .client-str-field {
        grid-area: street;
      }

      .client-city-field {
        grid-area: city;
      }

      .client-pstC-field {
        grid-area: postCode;
      }

      .client-ctry-field {
        grid-area: country;
      }

      .date {
        grid-area: date;
        margin-bottom: 2rem;
      }

      .terms {
        grid-area: terms;
        margin-bottom: 2rem;
      }

      .description {
        grid-area: description;
        margin-bottom: 2rem; // si aucun formValidation n'est t'ajouter sinon a margin a retirer
      }
    }

    .item-fields {
      padding: 0 4.666666rem;

      .rows {
        flex-direction: row;
        margin-bottom: 2.916666rem;
        position: relative;
      }

      .row.item-name {
        flex-direction: column;
        width: min-content;


        input {
          @include input-for-mobile;
          margin-right: 1.333333rem;
          width: clamp(17.833333rem, 27.866vw, 18.583333rem);
        }

        small {
          margin-bottom: unset;
          color: $red;
          font-weight: 700;
        }
      }

      .row.item-data {
        align-items: unset;
        position: unset;

        .row__field {
          width: min-content;
          margin-bottom: unset;
        }

        .row__field>input {
          margin: 1.333rem 1.333333rem 0 0;
        }

        .row__field>small {
          color: $red;
          font-weight: 700;
        }

        .row__field.quantity>input {
          width: clamp(3.833333rem, 5.99vw, 3.916666rem);
          padding: 0 0 0 1.5rem;
        }

        .row__field.price>input {
          width: clamp(8.333333rem, 13.022vw, 8.666666rem);
        }

        .row__field.total>input {
          width: 30px;
          margin-right: 3.166666rem;
        }

        >button {
          width: auto;
          height: auto;
          display: inline-block;
          margin-top: .4rem;
        }
      }

    }

    .item-cta {
      margin: 0 4.666666rem 3.916666rem 4.666666rem;
    }

    .errors-container {
      padding: 0 4.666666rem;
    }

    .form-cta {
      display: flex;
      justify-content: flex-start;
      padding-left: 4.666666rem;
      padding-right: 4.666666rem;

      button {
        @include button-for-mobile;
      }

      .save {
        background-color: $violet-1;
        color: #fff;
        margin-left: 0.66rem;
      }

      .discard {
        color: $violet-1;
        background-color: #F9FAFE;
        margin-right: 11.583333rem;
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  section#invoice-form {
    padding-top: 4.666666rem;
    left: 8.583333rem;

    .input-group {
      padding: 0 4.666666rem;

      &__fields {

        input {
          margin-bottom: 0.5rem;
        }
      }
    }

    .from>.input-group__fields {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: 1fr 1fr;
      column-gap: 2rem;
      grid-template-areas:
        "street   street   street"
        "city     postCode country";

      .street-field {
        grid-area: street;
      }

      .city-field {
        grid-area: city;
      }

      .postCode-field {
        grid-area: postCode;
      }

      .country-field {
        grid-area: country;
      }
    }

    .to>.input-group__fields {
      display: grid;
      grid-template-columns: minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
      grid-template-rows: repeat(6, 1fr);
      column-gap: 2rem;
      grid-template-areas:
        "name         name        name        name        name        name"
        "email        email       email       email       email       email"
        "street       street      street      street      street      street"
        "city         city        postCode    postCode    country     country"
        "date         date        date        terms        terms        terms"
        "description  description description description description description";

      .client-name-field {
        grid-area: name;
      }

      .client-email-field {
        grid-area: email;
      }

      .client-str-field {
        grid-area: street;
      }

      .client-city-field {
        grid-area: city;
      }

      .client-pstC-field {
        grid-area: postCode;
      }

      .client-ctry-field {
        grid-area: country;
      }

      .date {
        grid-area: date;
        margin-bottom: 2rem;
      }

      .terms {
        grid-area: terms;
        margin-bottom: 2rem;
      }

      .description {
        grid-area: description;
        margin-bottom: 2rem; // si aucun formValidation n'est t'ajouter sinon a margin a retirer
      }
    }

    .item-fields {
      padding: 0 4.666666rem;

      .rows {
        flex-direction: row;
        margin-bottom: 2.916666rem;
        position: relative;
      }

      .row.item-name {
        flex-direction: column;
        width: min-content;


        input {
          @include input-for-mobile;
          margin-right: 1.333333rem;
          /* width: clamp(17.833333rem, 27.866vw, 20rem); */
        }

        small {
          margin-bottom: unset;
          color: $red;
          font-weight: 700;
        }
      }

      .row.item-data {
        align-items: unset;
        position: unset;

        .row__field {
          width: min-content;
          margin-bottom: unset;
        }

        .row__field>input {
          margin: 1.333rem 1.333333rem 0 0;
        }

        .row__field>small {
          color: $red;
          font-weight: 700;
        }
      }
    }

    .form-cta {
      display: flex;
      justify-content: flex-start;
      padding-left: 4.666666rem;
      padding-right: 4.666666rem;

      button {
        @include button-for-mobile;
      }

      .save {
        background-color: $violet-1;
        color: #fff;
        margin-left: 0.66rem;
      }

      .discard {
        color: $violet-1;
        background-color: #F9FAFE;
        margin-right: 11.583333rem;
      }
    }
  }
}
