@import '../../../../sass/colors';
@import '../../../../sass/font-size';
@import '../../../../sass/variables';
@import '../../../../sass/global';
@import '../../../../sass/mixins';

#invoice-detail {
  transition: all 250ms ease-in-out;
  padding-bottom: 12.25rem;

  .invoice {
    >p {
      margin-bottom: 2.666666rem;
    }

    a.back {
      font-weight: 700;
    }

    a.back::before {
      content: url("../../../../assets/icon-arrow-left.svg");
      margin-right: 2rem;
    }
  }

  .invoice__cta-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.75rem 2rem;
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;

    &>button {
      font-weight: 700;
      border: transparent;
      letter-spacing: -0.25px;
      border-radius: 2rem;
      height: 4rem;
    }

    &>button:not(:last-child) {
      margin-right: 0.666666rem;
    }

    &>.edit {
      width: 6.083333rem;
    }

    &>.delete {
      width: 7.416666rem;
    }

    &>.delete:hover {
      width: 7.416666rem;
    }

    &>.mark-as-paid {
      width: 10.916666rem;
    }

    &>.mark-as-paid:hover {}
  }
}

.light-theme {
  background-color: $light-bg;

  a.back {
    color: $black-2;
  }

  a.back:hover {
    color: $blue-violet;
  }

  .invoice__cta-mobile {
    background-color: #fff;

    &>button:not(:first-child) {
      color: #FFF;
    }

    &>.edit {
      color: $blue-violet;
      background-color: #F9FAFE;
    }

    &>.edit:hover {
      background-color: $blue-gray-light;
    }

    &>.delete {
      background-color: $red;
    }

    &>.delete:hover {
      background-color: $red-blurred;
    }

    &>.mark-as-paid {
      background-color: $violet-1;
    }

    &>.mark-as-paid:hover {
      background-color: $violet-2;
    }
  }
}

.dark-theme {
  background-color: $black-3;

  a.back {
    color: #FFF;
  }

  a.back:hover {
    color: $red;
  }

  .invoice__cta-mobile {
    background-color: $black-1;

    &>button:not(:first-child) {
      color: #FFF;
    }

    &>.edit {
      color: $blue-gray-light;
      background-color: $dark-blue;
    }

    &>.edit:hover {
      color: rgba($color: $blue-gray-light, $alpha: .7);
      background-color: #FFF;
    }

    &>.delete {
      background-color: $red;
    }

    &>.delete:hover {
      background-color: $red-blurred;
    }

    &>.mark-as-paid {
      background-color: $violet-1;
    }

    &>.mark-as-paid:hover {
      background-color: $violet-2;
    }
  }
}


@media screen and (min-width: $tablet-min) {
  #invoice-detail {
    padding-bottom:unset;
  }
}

@media screen and (min-width: $desktop-min) {
  #invoice-detail {}
}
