@import '../../../../sass/colors';
@import '../../../../sass/font-size';
@import '../../../../sass/variables';
@import '../../../../sass/global';
@import '../../../../sass/mixins';

#invoice-detail {
  background-color: $light-bg;

  .invoice {
    >p {
      margin-bottom: 2.666666rem;
    }

    a.back {
      color: $black-2;
      font-weight: 700;
    }

    a.back::before {
      content: url("../../../../assets/icon-arrow-left.svg");
      margin-right: 2rem;
    }

    .invoice__header {
      margin-bottom: 1.333333rem;
      background-color: #fff;
      padding: 1.6rem;
      border-radius: 0.666666rem;

      .header__status {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      .header__status>span {
        color: #858BB2;
        font-weight: 500;
      }

      .header__status>.status-design {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.083333rem 1.416666rem;
        border-radius: 0.5rem;
      }

      .header__status>.status-design>.bullet {
        width: 0.666666rem;
        height: 0.666666rem;
        border-radius: 100%;
        margin-right: 0.666666rem;
      }

      .header__status>.status-design>span:last-child {
        font-weight: 700;
      }

    }

    .invoice__body {
      padding: 1.6rem;
      background-color: #fff;
      border-radius: 0.666666rem;
      margin-bottom: 3.333333rem;

      .top-part {
        margin-bottom: 3.333333rem;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(5, auto);
        grid-template-areas:
          "identity identity"
          "from     from"
          "date     bill-to"
          "due     bill-to"
          "send-to  send-to";

        .invoice-identity {
          grid-area: identity;
          margin-bottom: 2.5rem;

          .hashtag {
            color: $blue-violet;
            font-weight: 700;
          }

          &>p:first-child {
            color: $black-2;
            font-weight: 700;
            margin-bottom: 0.333333rem;
          }

          &>p:nth-child(2) {
            color: $blue-violet;
            font-weight: 500;
          }
        }

        .invoice-from {
          grid-area: from;
          margin-bottom: 2.583333rem;

          >p {
            color: $blue-violet;
            font-weight: 500;
            font-size: 0.916666rem;
          }

          >p:not(:last-child) {
            margin-bottom: 0.583333rem;
          }
        }

        .invoice-date {
          grid-area: date;
          display: flex;
          flex-direction: column;

          >span:first-child {
            color: $blue-violet;
            font-weight: 500;
            margin-bottom: 1rem;
          }

          >span:last-child {
            font-weight: 700;
            font-size: 1.25rem;
          }
        }

        .invoice-bill-to {
          grid-area: bill-to;
          margin-bottom: 2.666666rem;

          >span,
          p:not(.name) {
            color: $blue-violet;
            font-weight: 500;
          }

          >p:not(.name) {
            font-size: 0.916666rem;
          }

          >span {
            display: inline-block;
            margin-bottom: 1rem;
          }

          p.name {
            margin-bottom: 0.666666rem;
          }

          p.street,
          p.city,
          p.post-code {
            margin-bottom: 10px;
          }

          >p.name {
            color: $black-2;
            font-weight: 700;
            font-size: 1.25rem;
          }
        }

        .invoice-due {
          grid-area: due;
          padding-bottom: 1.7rem;

          >span {
            color: $blue-violet;
            font-weight: 500;
            display: inline-block;
            margin-bottom: 1rem;
          }

          >p {
            color: $black-2;
            font-weight: 700;
            font-size: 1.25rem;
          }
        }

        .send-to {
          grid-area: send-to;

          >span {
            display: inline-block;
            color: $blue-violet;
            font-weight: 500;
            margin-bottom: 1rem;
          }

          >p {
            color: $black-2;
            font-weight: 700;
            font-size: 1.25rem;
          }
        }
      }

      .items {
        padding: 2rem;
        background-color: #F9FAFE;

        .item {
          display: flex;
          justify-content: space-between;
          align-items: center;
          margin-bottom: 2rem;

          &>div {
            display: flex;
            flex-direction: column;
          }

          &>div>.name {
            color: $black-2;
            font-weight: 700;
            margin-bottom: 0.666666rem;
          }

          &>div>.qty-price {
            color: $blue-violet;
            font-weight: 700;
          }

          &>div>.total {
            color: $black-2;
            font-weight: 700;
          }

          &>span {
            color: $black-2;
            font-weight: 700;
          }
        }
      }

      .footer {
        padding: 2rem;
        background-color: #373B53;
        border-radius: 0px 0px 8px 8px;

        &>div {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }

        &>div>span {
          color: #FFF;
        }

        &>div>span:first-child {
          font-size: 0.916666rem;
          font-weight: 500;
        }

        &>div>span:last-child {
          font-size: 1.666666rem;
          font-weight: 700;
        }
      }
    }
  }

  .invoice__cta-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.75rem 2rem;
    background-color: #fff;

    &>button {
      font-weight: 700;
      border: transparent;
      letter-spacing: -0.25px;
      border-radius: 2rem;
      height: 4rem;
    }

    &>button:not(:last-child) {
      margin-right: 0.666666rem;
    }

    &>button:not(:first-child) {
      color: #FFF;
    }

    &>.edit {
      color: $blue-violet;
      width: 6.083333rem;
      background-color: #F9FAFE;
    }

    &>.delete {
      width: 7.416666rem;
      background-color: $red;
    }

    &>.mark-as-paid {
      width: 10.916666rem;
      background-color: $violet-1;
    }
  }
}

@media screen and (min-width: $tablet-min) {
  #invoice-detail {

    .invoice {

      .invoice__header {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        justify-content: space-between;
        padding: 1.666666rem 2.666666rem;
        box-shadow: 0px 10px 10px -10px rgba(72, 84, 159, 0.100397);

        .header__status {
          justify-content: unset;
        }

        .header__status>span:first-child {
          margin-right: 1.333333rem;
        }

        .invoice__cta {
          display: flex;
          align-items: center;
        }

        .invoice__cta>button {
          font-weight: 700;
          border: transparent;
          letter-spacing: -0.25px;
          border-radius: 2rem;
          height: 4rem;
        }

        .invoice__cta>button:not(:last-child) {
          margin-right: 0.666666rem;
        }

        .invoice__cta>button:not(:first-child) {
          color: #FFF;
        }

        .invoice__cta>.edit {
          color: $blue-violet;
          width: 6.083333rem;
          background-color: #F9FAFE;
        }

        .invoice__cta>.delete {
          width: 7.416666rem;
          background-color: $red;
        }

        .invoice__cta>.mark-as-paid {
          width: 10.916666rem;
          background-color: $violet-1;
        }
      }

      .invoice__body {
        padding: 2.666666rem;
        margin-bottom: 4rem;

        .top-part {
          margin-bottom: 4rem;
          grid-template-columns: repeat(3, auto);
          grid-template-rows: repeat(3, auto);
          grid-template-areas:
            "identity .        from"
            "date     bill-to  send-to"
            "due      bill-to  send-to";

          .invoice-identity {
            grid-area: identity;
            margin-bottom: 1.75rem;

            .hashtag,
            &>p:first-child {
              font-size: 1.333333rem;
            }

            &>p:first-child {
              margin-bottom: 0.666666rem;
            }
          }

          .invoice-from {
            grid-area: from;
            margin-bottom: 1.75rem;
            text-align: end;
          }

          .invoice-date {
            grid-area: date;

            >span:first-child {
              margin-bottom: 1rem;
            }

            >span:last-child {
              font-weight: 700;
              font-size: 1.25rem;
            }
          }

          .invoice-bill-to {
            grid-area: bill-to;
            margin-bottom: unset;

            >span,
            p:not(.name) {
              color: $blue-violet;
              font-weight: 500;
            }

            >p:not(.name) {
              font-size: 0.916666rem;
            }

            >span {
              display: inline-block;
              margin-bottom: 1rem;
            }

            p.name {
              margin-bottom: 0.666666rem;
            }

            >p.name {
              color: $black-2;
              font-weight: 700;
              font-size: 1.25rem;
            }
          }

          .invoice-due {
            grid-area: due;
            padding-top: 2rem;
            padding-bottom: unset;

            >span {
              color: $blue-violet;
              font-weight: 500;
              display: inline-block;
              margin-bottom: 1rem;
            }

            >p {
              color: $black-2;
              font-weight: 700;
              font-size: 1.25rem;
            }
          }

          .send-to {
            grid-area: send-to;

            >span {
              display: inline-block;
              color: $blue-violet;
              font-weight: 500;
              margin-bottom: 1rem;
            }

            >p {
              color: $black-2;
              font-weight: 700;
              font-size: 1.25rem;
            }
          }
        }

        .items {

          .head {
            margin-bottom: 2.666666rem;
            display: grid;
            grid-template-columns: minmax(23rem, auto) 2.916666rem minmax(9.83rem, auto) minmax(11.416rem, auto);
            grid-template-rows: 1fr;
            grid-template-areas:
              "h-item-name h-qty h-price h-total";

            span {
              color: $blue-violet;
              font-weight: 500;
              font-size: 0.916666rem;
              display: inline-block;
            }

            span:first-child {
              grid-area: h-item-name;
            }

            span:nth-child(2) {
              grid-area: h-qty;
            }

            span:nth-child(3) {
              grid-area: h-price;
              text-align: right;
            }

            span:nth-child(4) {
              grid-area: h-total;
              text-align: right;
            }
          }

          .item {
            display: unset;

            &>div {
              margin-bottom: 2.666666rem;
              display: grid;
              grid-template-columns: minmax(23rem, auto) 2.916666rem minmax(9.83rem, auto) minmax(11.416rem, auto);
              grid-template-rows: 1fr;
              grid-template-areas:
                "item-name qty price total";
            }

            &>div>span {
              display: inline-block;
              margin-bottom: unset;
            }

            &>div>.name {
              grid-area: item-name;
            }

            &>div>.qty,
            &>div>.price {
              color: $blue-violet;
              font-weight: 700;
            }

            /*  */
            &>div>.qty {
              grid-area: qty;
              text-align: center;
            }

            &>div>.price {
              grid-area: price;
              text-align: right;
            }

            &>div>.total {
              grid-area: total;
              text-align: right;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: $desktop-min) {
  #invoice-detail {}
}
