@import '../../../../sass/colors';
@import '../../../../sass/font-size';
@import '../../../../sass/variables';
@import '../../../../sass/global';
@import '../../../../sass/mixins';

#invoice-detail {
  background-color: $light-bg;

  .invoice {
    >p {
      margin-bottom: 2.666666rem;
    }

    a.back {
      color: $black-2;
      font-weight: 700;
    }

    a.back::before {
      content: url("../../../../assets/icon-arrow-left.svg");
      margin-right: 2rem;
    }
  }

  .invoice__cta-mobile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.75rem 2rem;
    background-color: #fff;

    &>button {
      font-weight: 700;
      border: transparent;
      letter-spacing: -0.25px;
      border-radius: 2rem;
      height: 4rem;
    }

    &>button:not(:last-child) {
      margin-right: 0.666666rem;
    }

    &>button:not(:first-child) {
      color: #FFF;
    }

    &>.edit {
      color: $blue-violet;
      width: 6.083333rem;
      background-color: #F9FAFE;
    }

    &>.delete {
      width: 7.416666rem;
      background-color: $red;
    }

    &>.mark-as-paid {
      width: 10.916666rem;
      background-color: $violet-1;
    }
  }
}

@media screen and (min-width: $tablet-min) {
  #invoice-detail {}
}

@media screen and (min-width: $desktop-min) {
  #invoice-detail {}
}
