<section id="invoice-detail">
  <div class="invoice container">
    <p><a class="back" [routerLink]="['..']">Go back</a></p>
    <app-invoice-header
      [currentInvoice]="currentInvoice"
      (edit)="onEdit($event)"
      (delete)="onShowPromptForDelete()"
      (markAsPaid)="onMarkAsPaid($event)">
    </app-invoice-header>
    <app-invoice-body
      [currentInvoice]="currentInvoice"
      (edit)="onEdit($event)">
    </app-invoice-body>
  </div>
  <div class="invoice__cta-mobile container hide-for-tablet-and-desktop">
    <button class="edit" (click)="onEdit(currentInvoice!._id)">Edit</button>
    <button class="delete" (click)="onShowPromptForDelete()">Delete</button>
    <button class="mark-as-paid" *ngIf="(currentInvoice!.status !== 'Paid') && (currentInvoice!.status !== 'Draft')" (click)="onMarkAsPaid(currentInvoice!._id)">Mark as Paid</button>
  </div>
</section>
