@import "../../../../sass/colors";
@import "../../../../sass/font-size";
@import "../../../../sass/global";
@import "../../../../sass/mixins";

#login-page {
  padding: 5rem 0;
  display: flex;
  align-items: center;
  height: 100%;

  .login-form-container {
    border-radius: 7px;
    box-shadow: 0px 2px 5px 1px transparent;
    background-color: $blue-violet;
    width: 80%;
    max-width: 33.33rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;

    .logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-bottom: 1.5rem;
    }

    .welcome {
      text-align: center;
      flex-direction: column;
      display: flex;
      align-items: center;
      color: #FFF;
      justify-content: center;
      margin-bottom: 1.5rem;
      font-weight: 700;
    }

    form {
      flex: 1;
      display: flex;
      flex-direction: column;
      padding-top: 1rem;

      div {
        height: 2.5rem;
        display: flex;
        justify-content: center;
      }

      div {
        margin-bottom: clamp(2.166rem, 7vw, 2.33rem);
      }

      div>input {
        width: 100%;
        max-width: 26.66rem;
        padding-left: 1rem;
        height: 100%;
        border: none;
        border-radius: 5px;
        font-weight: 700;
      }

      button {
        @include button-for-mobile;
        align-self: flex-end;
        color: #FFF;
        font-weight: 700;
        background-color: $violet-1;
      }
    }

    p.to-sign-up a {
      color: #FFF;
    }
  }
}

;

@media screen and (min-width: 768px) {
  #login-page {
    padding: 0 0;

    .login-form-container {
      background-color: $blue-violet;
      max-width: 40rem;
      /*  height: 70%;
            min-height: 20.83rem; */
      padding: 3rem 2rem;

      .logo {
        margin-bottom: 2rem;
      }

      .logo img {
        width: 3.33rem;
      }

      .welcome {
        color: white;
        justify-content: space-between;
        font-size: $tablet-font-size;
        margin-bottom: 1.5rem;

        p:first-child {
          font-size: 1.8rem;
          font-weight: 700;
        }

        p {
          margin-bottom: .7em;
        }
      }

      form {
        div {
          height: 3.5rem;
        }

        div {
          margin-bottom: clamp(2.166rem, 7vw, 2.33rem);
        }

        div>input {
          max-width: 30rem;
          font-size: clamp(1.5rem, 2.35vw, 1.75rem);
          font-weight: 500;
        }
      }
    }

    p.to-sign-up a {
      font-size: $tablet-font-size;
    }
  }
}

;

@media screen and (min-width: 1440px) {
  #login-page {
    padding: 10.5rem 0;

    .login-form-container {
      background-color: $blue-violet;
      max-width: 50rem;
      padding: 5rem 2rem;

      .logo {
        margin-bottom: 2rem;
      }

      .logo img {
        width: 5rem;
      }

      .welcome {
        font-size: $desktop-font-size;
        margin-bottom: 1.5rem;

        p:first-child {
          font-size: 2rem;
        }
      }

      form {
        div {
          height: 3.5rem;
        }

        div {
          margin-bottom: clamp(2.166rem, 7vw, 2.33rem);
        }

        div>input {
          max-width: 40rem;
          font-size: clamp(1.5rem, 2.35vw, 1.75rem);
          font-weight: 500;
        }

        button {
          padding: 1em 1.3em;
        }
      }
    }

    p.to-sign-up a {
      font-size: $desktop-font-size;
    }
  }
}

;
