.alert {
    text-align: center;
}

.error {
    color: red;
    font-weight: 800;
    font-size: 1rem;
}

.success {
    color: green;
    font-weight: 800;
    font-size: 1rem;
}

.info {
    color: gray;
    font-weight: 800;
    font-size: 1rem;
}