<header>
  <div>
    <h1>Invoices</h1>
    <p class="invoice__count"><span class="hide-for-mobile">There are</span> {{ invoices.length !== 0 ? invoices.length : '' }} <span class="hide-for-mobile">total</span> invoices</p>
  </div>
  <div class="filter">
    <div>
      <span>Filter</span> <span class="hide-for-mobile">by status</span>
    </div>
    <img src="assets/icon-arrow-down.svg" alt="icon of an arrow" srcset="">
  </div>
  <div class="switch" (click)="openInvoiceForm()">
    <span class="switch__icon-plus">
      <img src="assets/icon-plus.svg" alt="icon of a plus" srcset="">
    </span>
    <div class="switch__text">
      <span>New </span>
      <span class="show-flex">Invoice</span>
    </div>
  </div>
</header>
<section class="main">
  <div *ngIf="invoices.length === 0" class="no-invoice">
    <img src="assets/illustration-empty.svg" alt="an image of a woman talking throughout a megaphone">
    <div class="no-invoice__text">
      <h1>There is nothing here</h1>
      <p>Create an invoice by clicking the
        New button and get started</p>
    </div>
  </div>
  <div *ngIf="invoices.length !== 0" class="invoices">
    <!-- <div *ngFor="let item of invoices">
      {{ item.clientName }}
    </div> -->
    <app-invoice-list-item
      *ngFor="let invoice of invoices"
      [invoice]="invoice"
      >
    </app-invoice-list-item>
  </div>
</section>
