<header>
  <div>
    <h1>Invoices</h1>
    <p class="invoice__count">No invoices</p>
  </div>
  <div class="filter">
    <div>
      <span>Filter</span> <span class="hide-for-desktop">by status</span>
    </div>
    <img src="assets/icon-arrow-down.svg" alt="" srcset="">
  </div>
  <div class="switch">
    <span class="switch__icon-plus">
      <img src="assets/icon-plus.svg" alt="" srcset="">
    </span>
    <div class="switch__text">
      <span>New </span>
      <span class="show-flex">Invoice</span>
    </div>
  </div>
</header>
<section class="main">
  <div class="invoices">

  </div>
  <div class="no-invoice">
    <img src="assets/illustration-empty.svg" alt="an image of a woman talking throughout a megaphone">
    <div class="no-invoice__text">
      <h1>There is nothing here</h1>
      <p>Create an invoice by clicking the
        New button and get started</p>
    </div>
  </div>
</section>
